streamlit==1.41.1
requests==2.32.3
beautifulsoup4==4.12.3
langchain==0.1.15
faiss-cpu==1.8.0
numpy==2.2.1
pandas==2.2.3
jinja2==3.1.5
protobuf==5.29.2
pyarrow==18.1.0
pydeck==0.9.1
rich==13.9.4
watchdog==6.0.0
llama-index==0.10.33.post1
llama-cpp-python==0.2.61
tiktoken==0.6.0
openai==1.23.5
pydantic==2.7.0
pydantic-core==2.18.0
torch==2.2.2
transformers==4.39.1
sentence-transformers==2.5.1
